{{!-- DASHBOARD PAGE: ONLY VIEWED BU LOGGED IN USERS --}}
<h1 class="m-3">Wecome back: {{username}}</h1>
<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle mx-3" data-bs-toggle="dropdown" aria-expanded="true"
    data-bs-auto-close="outside">
    Add a post
  </button>
  <form class="dropdown-menu w-75 p-3 border border-secondary-subtle rounded-2" action="/dashboard" method="POST">
    <h2>Create A Post</h2>
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" name="title" class="form-control w-25" id="title" required>
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea name="content" class="form-control" id="content" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{{!-- Each loop to display all users posts to the DOM--}}
{{#each post}}
  <div class="card m-3">
    <div class="card-header">
      {{this.user.username}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <p class="card-text">{{this.content}}</p>
    </div>
    <div class="card-footer py-1 d-flex justify-content-between dropdown">
      <p class="my-auto">{{this.createdAt}}</p>
        <div class="d-flex">
          <button type="button" class="btn btn-secondary dropdown-toggle mx-1" data-bs-toggle="dropdown"
            aria-expanded="true" data-bs-auto-close="outside">
            Update
          </button>
          <div>
            {{!-- Drop down form used to update the post its attached to --}}
            <form class="dropdown-menu w-75 p-3 border border-secondary-subtle rounded-2" action="/dashboard/update"
              method="POST">
              <h2>Update Post</h2>
              <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="title" class="form-control w-25" id="title" required>
              </div>
              <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea name="content" class="form-control" id="content" rows="5"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Update</button>
              <input type="hidden" name="postId" value="{{this.id}}">
            </form>
          </div>
          {{!-- Delete button to delete post its attached to --}}
          <form action="/dashboard/delete" method="POST">
            <input type="hidden" name="postId" value="{{this.id}}">
            <button class="mx-1 p-1 btn btn-danger">Delete</button>
          </form>
        </div>
    </div>
  </div>
{{/each}}